<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.mybatis.demo.mybatis.client.PlayerMapper">
    <resultMap id="BaseResultMap" type="com.qin.mybatis.demo.mybatis.entity.Player">
        <id column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        uid, name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_player
        where uid = #{uid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from t_player
        where uid = #{uid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.gradle.sample.mybatis.model.Player">
        insert into t_player (uid, name)
        values (#{uid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.gradle.sample.mybatis.model.Player">
        insert into t_player
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gradle.sample.mybatis.model.Player">
        update t_player
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gradle.sample.mybatis.model.Player">
        update t_player
        set name = #{name,jdbcType=VARCHAR}
        where uid = #{uid,jdbcType=VARCHAR}
    </update>
</mapper>