<!DOCTYPE html>
<html lang="zh-cn">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta charset="utf-8" />
		<meta name="keywords" content="关键字" />
		<meta name="description" content="描述" />
		<link rel="shortcut icon" type="images/x-icon" href="favicon.ico">
		<title>网站信息</title>
		<style>
			* {
				margin: 0px;
				padding: 0px;
				font-family: 微软雅黑;
				color: #666;
				height: 100%;
				border:none;
			}
		</style>
	</head>

	<body>
		<div>
			<h1>373616885</h1>
		</div>
		<script src="static/plugins/jquery-1.11.3/jquery.js"></script>
	</body>

</html>